[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
"fhir.resources" = "*"
pendulum = "*"
tqdm = "*"
orjson = "*"
PyYAML = "*"
xmltodict = "*"
plotly = "*"
pydantic = "*"
networkx = "*"
httpx = "*"
authlib = "*"

[dev-packages]
pytest = "*"
coverage = "*"
tox = "*"
mkdocs = "*"
mkdocs-material = "*"
twine = "*"
bump2version = "*"
pipenv-setup = "*"
notebook = "*"
jupyter = "*"
mkdocstrings = {extras = ["python-legacy"], version = "*"}
flake8 = "*"
ipython = ">=7.31.1"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
